{% load static %}
<!DOCTYPE html>
<html>
    <title>Inserir agendamento</title>
    <script src="{% static 'js/admin.js' %}"></script>
    <body>
        {% csrf_token %}
        <label for="title">Título: </label>
        <input type="text" id="title" name="title"><br>
        <label for="description">Descrição: </label>
        <input type="text" id="description" name="description"><br>
        <label for="date">Data: </label>
        <input type="text" id="date" name="date"><br>
        <label for="local">Local: </label>
        <input type="text" id="local" name="local"><br>
        <label for="physician">Médico: </label>
        <input type="text" id="physician" name="physician"><br>
        <label for="user">ID Usuário: </label>
        <input type="number" id="user" name="user"><br>
        <button onclick="create()">Criar Agendamento</button>
        <script>
            async function create() {
                const adminData = await adminLogin(
                    'admin@admin.com',
                    'admin',
                    document.getElementsByName('csrfmiddlewaretoken')[0].value
                );
                
                const titulo = document.getElementById("title").value;
                const descricao = document.getElementById("description").value;
                const data = document.getElementById("date").value;
                const local = document.getElementById("local").value;
                const medico = document.getElementById("physician").value;
                const id_usuario = document.getElementById("user").value;
                const csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                const response = await fetch("/graacc/api/agendamentos/create", 
                {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrftoken,
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${adminData['token']}`
                    },
                    body: JSON.stringify({
                        titulo, descricao, data, local, medico, id_usuario: Number(id_usuario)
                    })
                });
            }
        </script>

    </body>
</html>
